<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
<div class="banner">
    <div class="navbar">
        <ul>
            <li><a class="nav-text text-color-turquoise" th:href="@{login}">Логин</a></li>
            <li><a class="nav-text text-color-turquoise" th:href="@{registration}">Регистрация</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="box">
            <div class="container">
                <div class="sub-container">
                    <form th:method="POST" th:action="@{/}" th:object="${user}" autocomplete="off">
                        <div class="header-form-text">
                            <span class="text-color-turquoise">Еще нет аккаунта?</span>
                            <header class="text-color-turquoise">Зарегестрируйтесь</header>
                        </div>
                        <div class="input-field">
                            <input class="input text-color-turquoise text-center" type="text"
                                   th:field="*{name}" id="name" placeholder="Введите имя"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                        <br>
                        <div class="input-field">
                            <input class="input text-color-turquoise text-center" type="text"
                                   th:field="*{login}" id="login" placeholder="Введите логин"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
                        <br>
                        <div class="input-field">
                            <input class="input text-color-turquoise text-center" type="text"
                                   th:field="*{password}" id="password" placeholder="Введите пароль"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                        <div class="input-field">
                            <input class="submit text-color-turquoise" type="submit" value="Зарегестрироваться">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>